.allChatsContainer {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background-color: var(--backgroundColor);
    overflow: hidden;
    height: 91vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Left chat ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.leftChatsContainer {
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0px 0px 0px 10px;
    border-right: 2px solid var(--blurBackgroundColor);
}

.oneChatContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--textColor);
    border-top: 0.5px solid var(--blurBackgroundColor);
    text-decoration: none;
}

.oneChatContainer:hover {
    background-color: var(--blurBackgroundColor);
}

.oneChatContainer:focus {
    background-color: var(--buttonColor);
}

.oneChatContainerLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImage {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--buttonColor);
    overflow: hidden;
}


.oneChatContainerRight {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7px;
}

.oneChatContainerRightUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    display: flex;
    width: 100%;
    font-weight: 500;
}

.up1 {
    white-space: nowrap;
    overflow: hidden;
    width: 210px;
    text-overflow: ellipsis;
}

.up2 {
    font-size: 13px;
    font-weight: 400;
}

.oneChatContainerRightDown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    display: flex;
    width: 100%;
}

.rightChatsContainer {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    /* background-image: url("../assets/Mass\ Circles.svg"); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23002cf9' fill-opacity='0.12'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: var(--backgroundColor);
}

.rightChatsContainerB {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    padding: 0px 5px;
}


.down2 {
    background-color: var(--unreadBudgetBackground);
    border-radius: 16px;
    padding: 2.5px 8px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Left chat~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.rightChatsSender {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.rightChatsSenderInner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: fit-content;
    padding: 8px 14px;
    padding-bottom: 15px;
    background-color: var(--blurBackgroundColor);
    border-radius: 20px 20px 0px 20px;
    margin: 13px;
    font-size: 15.5px;
    min-width: 120px;
    max-width: 660px;
    line-height: 1.4rem;
    position: relative;
}

.timeAgo {
    font-size: 12px;
    position: absolute;
    color: rgb(47, 0, 255);
    bottom: -3px;
}

.rightChatsReceiver {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

.rightChatsReceiverInner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: fit-content;
    padding: 8px 14px;
    padding-bottom: 15px;
    background-color: rgb(172, 186, 173);
    border-radius: 20px 20px 20px 0px;
    margin: 10px;
    font-size: 15.5px;
    max-width: 660px;
    line-height: 1.4rem;
    position: relative;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Profile ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.rightChatsSender {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.rightChatsSenderInner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: fit-content;
    padding: 8px 14px;
    padding-bottom: 15px;
    background-color: var(--blurBackgroundColor);
    border-radius: 20px 20px 0px 20px;
    margin: 13px;
    font-size: 15.5px;
    max-width: 660px;
    line-height: 1.4rem;
    position: relative;
}

.timeAgo {
    font-size: 12px;
    position: absolute;
    color: rgb(47, 0, 255);
    bottom: -3px;
}

.rightChatsReceiver {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

.rightChatsReceiverInner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: fit-content;
    padding: 8px 14px;
    padding-bottom: 15px;
    background-color: rgb(172, 186, 173);
    border-radius: 20px 20px 20px 0px;
    margin: 10px;
    font-size: 15.5px;
    max-width: 660px;
    line-height: 1.4rem;
    position: relative;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background-color: var(--blurBackgroundColor);
}

.profilePhotoTopImage {
    border-radius: 100px;
    border: 2px solid var(--buttonColor);
    overflow: hidden;
    cursor: pointer;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Message ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.textAreaContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1px;
    justify-content: space-around;
    background-color: var(--backgroundColor);
    padding: 10px 30px;
}

.message {
    flex: 6;
    display: flex;
    border-radius: 8px;
    max-height: 300px;
    height: 50px;
    outline: none;
    font-size: 16px;
    border: 2px solid var(--blurBackgroundColor);
    padding: 10px 40px;
    align-items: center;
    resize: vertical;
}

.messageingButton {
    flex: 1;
    display: flex;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: small;
    padding: 10px;
    outline: none;
}

.messageingButton:hover {
    animation: mySendMove 1s;
    transition: 1s;
}

.labelForFile {
    position: absolute;
    right: 13%;
    bottom: 23px;
    cursor: pointer;
}

.attachemntsPath {
    fill: var(--buttonColor);
}

.threeDots {
    fill: var(--textColor);
}

.customPath {
    fill: var(--buttonColor)
}

@keyframes mySendMove {

    0% {
        transform: scale(1);
    }

    100% {
        transform: rotate(30deg)
    }

    50% {
        transform: scale(1.1);
    }

    25% {
        transform: scale(1.1);
    }

    75% {
        transform: rotate(-20deg)
    }

    100% {
        transform: scale(1);
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ Mixin ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width:890px) {
    .leftChatsContainer {
        width: 100%;
    }

    .rightChatsContainer {
        display: none;
    }
}