.allChatsContainer {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background-color: var(--backgroundColor);
    overflow: hidden;
    height: 91vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Left chat ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.leftChatsContainer {
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0px 0px 0px 10px;
    border-right: 2px solid var(--blurBackgroundColor);
}

.oneChatContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--textColor);
    border-top: 0.5px solid var(--blurBackgroundColor);
    text-decoration: none;
}

.oneChatContainer:hover {
    background-color: var(--blurBackgroundColor);
}

.oneChatContainer:focus {
    background-color: var(--buttonColor);
}

.oneChatContainerLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImage {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--buttonColor);
    overflow: hidden;
}


.oneChatContainerRight {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7px;
}

.oneChatContainerRightUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    display: flex;
    width: 100%;
    font-weight: 500;
}

.up1 {
    white-space: nowrap;
    overflow: hidden;
    width: 210px;
    text-overflow: ellipsis;
}

.up2 {
    font-size: 13px;
    font-weight: 400;
}

.oneChatContainerRightDown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    display: flex;
    width: 100%;
}

.rightChatsContainer {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    /* background-image: url("../assets/Mass\ Circles.svg"); */
    background-image: url('../assets/whtsappWallpaperjpg.jpg');
    background-color: var(--backgroundColor);
}

.rightChatsContainerB {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    padding: 0px 5px;
}


.down2 {
    background-color: var(--unreadBudgetBackground);
    border-radius: 16px;
    padding: 2.5px 8px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ right chat ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.rightChatsSender {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.rightChatsSenderInner {
    white-space: pre;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: fit-content;
    padding: 8px 14px;
    padding-bottom: 15px;
    background-color: var(--blurBackgroundColor);
    border-radius: 20px 20px 0px 20px;
    margin: 13px;
    font-size: 15.5px;
    min-width: 120px;
    max-width: 660px;
    line-height: 1.4rem;
    position: relative;
}

.timeAgo {
    font-size: 12px;
    position: absolute;
    color: rgb(47, 0, 255);
    bottom: -3px;
}

.rightChatsReceiver {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

.rightChatsReceiverInner {
    white-space: pre;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    width: fit-content;
    padding: 8px 14px;
    padding-bottom: 15px;
    background-color: rgb(172, 186, 173);
    border-radius: 20px 20px 20px 0px;
    margin: 10px;
    font-size: 15.5px;
    min-width: 120px;
    max-width: 660px;
    text-align: left;
    line-height: 1.4rem;
    position: relative;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Profile ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background-color: var(--blurBackgroundColor);
}

.profilePhotoTopImage {
    border-radius: 100px;
    border: 2px solid var(--buttonColor);
    overflow: hidden;
    cursor: pointer;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Message ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.textAreaContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1px;
    justify-content: space-around;
    background-color: var(--backgroundColor);
    padding: 10px 30px;
}

.message {
    flex: 6;
    display: flex;
    border-radius: 8px;
    max-height: 300px;
    height: 44px;
    outline: none;
    font-size: 16px;
    border: 2px solid var(--blurBackgroundColor);
    padding: 10px 40px;
    align-items: center;
    resize: vertical;
}

.messageingButton {
    flex: 1;
    display: flex;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: small;
    padding: 10px;
    outline: none;
}

.messageingButton:hover {
    animation: 1s mySendMove;
    transition: 1s;
}

.labelForFile {
    position: absolute;
    right: 13%;
    bottom: 23px;
    cursor: pointer;
}


.threeDots {
    fill: var(--textColor);
}

.customPath,
.attachemntsPath {
    fill: var(--buttonColor)
}


@keyframes mySendMove {

    0% {
        transform: skewX(0deg);
    }

    0% {
        transform: scale(1);
    }

    100% {
        transform: rotate(30deg)
    }

    50% {
        transform: scale(1.1);
    }

    50% {
        transform: skewX(20deg);
    }

    25% {
        transform: scale(1.1);
    }

    75% {
        transform: rotate(-20deg)
    }

    100% {
        transform: skewX(0deg);
        transform: scale(1);
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ Mixin ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width:890px) {
    .leftChatsContainer {
        width: 100%;
    }

    .rightChatsContainer {
        display: none;
    }
}