.menuContainer {
    display: flex;
    flex-direction: column;
    width: min-content;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
}

.menuContainer:hover {
    opacity: 0.7;
}

.menu {
    display: flex;
    background-color: var(--textBlurColor);
    height: 2.5px;
    width: 21px;
    border-radius: 5px;
    margin: 2.3px;
}