.router-link-active {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.applicationHeader {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--backgroundColor);
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    border-bottom: 2px solid var(--blurBackgroundColor);
    height: 50px;
    padding: 0 34px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    width: min-content;
    border-radius: 100%;
    padding: 5px;
    align-items: flex-end;
    cursor: pointer;
}

.menuContainer:hover {
    opacity: 0.7;
}

.menu {
    display: flex;
    background-color: var(--textBlurColor);
    border-radius: 5px;
    margin: 2.3px;
}

.menu1 {
    height: 2.8px;
    width: 25px;
}

.menu2 {
    height: 2.8px;
    width: 20px;
}

.menu3 {
    height: 2.8px;
    width: 25px;
}

.menuContainer:hover>.menu2 {
    width: 25px;
}